.gradle/
.classpath
.metadata
.project
.settings
build/
gradle/
gradle.properties
gradle-app.setting
bin/
src/main/dist/conf/hive.xml
src/main/dist/conf/jdbc.properties
src/main/dist/conf/jetty.xml
src/main/dist/conf/logback.xml