<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>

<configuration scan="true" scanPeriod="10 seconds">

	<contextName>Hive</contextName>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{20}:%line - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/var/local/log/hive/hive.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/var/local/log/hive/hive.log.%d{yyyy-MM-dd}</fileNamePattern>
		</rollingPolicy>		
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{20}:%line - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="hr.vsite" additivity="false" level="DEBUG">
		<appender-ref ref="STDOUT"/>
	</logger>

	<root level="WARN">
		<appender-ref ref="STDOUT"/>
	</root>

</configuration>
